body {
  background-color:greenyellow;
  width: device-width;
  height: auto;
}
h1{
  text-align: center;
  color:red;
}
.header1 img{
  height: auto;
  width: 100%;
  border: double lime;
  border-radius: 5%;
}
.header{
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  text-align: center;
  width: device-width;
}
#nav2{
  text-decoration: none;
  color: lime;
  border: solid 2px green;
  border-radius: 5px;
  background-color: #ff007e;
}
#nav1{
  color: red;
  text-decoration: none;
  border:solid 2px green;
  border-radius: 5px;
}
