body {
  width: device-width;
  height: auto;
  background: linear-gradient(to right, #473DBF, #1AB5A8, #00FF8C, #1AB5A8, #473DBF);
/*  background: linear-gradient(to right, #f6f1d3, #648880, #96E60C, #648880, #f6f1d3);*/
}
h1{
  font-family: Luminari,fantasy;
  text-align: center;
  color:red;
}
.header1 img{
  height: auto;
  width: 100%;
  border: double lime;
  border-radius: 5%;
}
.header{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
  text-align: center;
  width: device-width;
}
#nav1{
  text-decoration: none;
  color: lime;
  border: solid 2px green;
  border-radius: 5px;
  background-color: #ff007e;
}
#nav2{
  color: red;
  text-decoration: none;
  border:solid 2px green;
  border-radius: 5px;
}
#nav3{
  color: red;
  text-decoration: none;
  border:solid 2px green;
  border-radius: 5px;
}
h4{
  text-align: center;
  color: deeppink;
}
.roster{
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 4%;
  width:device-width;
}
.roster1 img{
  height: auto;
  width: 100%;
  border: double red;
  border-radius: 5%;
}
.roster1n{
  color:red;
  margin-top: -20%;
}
.roster2 img{
  height: auto;
  width: 100%;
  border: double red;
  border-radius: 5%;
}
.roster2n{
  color:red;
  margin-top: -20%;
}
.roster3 img{
  height: auto;
  width: 100%;
  border: double red;
  border-radius: 5%;
}
.roster3n{
  color:red;
  margin-top: -20%;
}
.roster4 img{
  height: auto;
  width: 100%;
  border: double red;
  border-radius: 5%;
}
.roster4n{
  color:red;
  margin-top: -20%;
}
.roster5 img{
  height: auto;
  width: 100%;
  border: double red;
  border-radius: 5%;
}
.roster5n{
  color:red;
  margin-top: -20%;
}
.roster6 img{
  height: auto;
  width: 100%;
  border: double red;
  border-radius: 5%;
}
.roster6n{
  color:red;
  margin-top: -20%;
}